<VirtualHost *:8080>
	ServerAdmin tech@wildfire.world
	ServerName xyz-domain-var
	ServerAlias www.xyz-domain-var
	DocumentRoot /var/www/html/xyz-domain-var
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	<Directory /var/www/html/xyz-domain-var/>
		Options Indexes FollowSymLinks
		AllowOverride All
	</Directory>
</VirtualHost>