body, h1, h2, h3, h4, h5, h6 {font-family: Georgia, serif; line-height: 1.8;}
p {font-size: 120%;}

.copy_btn {cursor: pointer;}
.file {
   position: relative;
   background: linear-gradient(to right, lightblue 50%, transparent 50%);
   background-size: 200% 100%;
   background-position: right bottom;
   transition:all 1s ease;
}
 .file.done {
   background: lightgreen;
}
 .file a {
   display: block;
   position: relative;
   padding: 10px;
   color: black;
}
.bar {
    height: 18px;
    background: green;
}

#map {
	height:400px;
	max-height: 100%;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}