.copy_btn {cursor: pointer;}

.bar {
    height: 18px;
    background: #993399;
}

.byline {display: none;}

#map {
	height:400px;
	max-height: 100%;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.dataTables_filter {float: left; margin-top:10px; margin-bottom: 10px;}
.dt-buttons {float: left; margin-top:10px; margin-bottom: 10px;}
.paging_simple_numbers {float:right; margin-top:10px; margin-bottom: 10px;}
.dataTables_info {float:right; margin-top:10px; margin-bottom: 10px;}
.dataTables_length {float:left; margin-left:20px; margin-top:10px; margin-bottom: 10px;}

.multi_drop {height: 400px; overflow-y: scroll;}

.form-style {
	border: 1px solid #eee;
	padding: .5rem 2rem;
	border-radius: 8px;
	box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.4);
}
